* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
}
.masthead {
    min-height: 150px;
    background-color: black;
}



.menu-items a  {
    float: right;
    margin: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.menu-items-bottom {
    text-align: center;
}

.menu-items-bottom a {
    margin: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.menu-items a:hover {
    background-color: lightgray;
    color: black;
}

.menu-items a.current-page {
    border-bottom: 2px solid white;
}

.menu-items-bottom a:hover {
    background-color: lightgray;
    color: black;
}

.menu-items-bottom a.current-page {
    border-bottom: 2px solid white;
}

.menu-items {
    padding: 50px 10px;
}

#logo {
    float: left;
    padding: 1.2em;
    margin: 15px
}

#site-title:hover {
    font-size: 300%;
}

#site-title {
    float: left;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 40px 10px;
    font-size: 290%;
    color: white;
  
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 750px) {
  .menu-items a {
    float: none;
    display: block;
  }
    #logo {
        float:none;
        display: block;
        text-align: center;

       
    }
    #site-title {
        float: none;
        display: block;
        text-align: center;
 
    }
    
  }

.mid-body {
    background-color:#dddddd;
    min-height: 700px;
    
}

.footer {
    background-color: #222222;
}

.row1 h2 {
    color: white;
    font: 30px Helvetica Arial sans serif;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
 .copyright p {
    color: white;
     font-size: 12px;
     text-align: center;
     color: gray;
}
svg {
    filter: invert(1);
    box-sizing: 10px 10px 10px 10px;
}

.social {
    text-align: center;
}

.social a {
    padding-left: 20px;
   
}
